/* Define color variables */
:root {
    /* Light Mode Colors */
    --color-light-bg: #fff;
    --color-light-primary: #4070f4;
    --color-light-secondary: #f7f7f7;
    --color-light-tirdh: #f5f5f5;
    --color-light-gray: #3b3b3b;
    --color-light-overlay: rgba(0, 0, 0, 0.3);
    --color-light-shadow: rgba(0, 0, 0, 0.1);

    /* Dark Mode Colors */
    --color-dark-bg: #1c1c1d;
    --color-dark-primary: #bb86fc;
    --color-dark-secondary: #252728;
    --color-dark-gray: #e0e0e0;
    --color-comment-background: #333334;
    --color-comment-background-hover: #3b3b3e;
    --color-dark-overlay: rgba(255, 255, 255, 0.3);
}

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
}

body {
    min-height: 100%;
    background: var(--color-light-secondary);

}

/* Sidebar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--color-light-bg);
    box-shadow: 0 0 8px var(--color-light-shadow);
    justify-content: space-between;

    z-index: 2;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .menu-icon {
    color: var(--color-light-gray);
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}

.logo .logo-name {
    color: var(--color-light-gray);
    font-size: 22px;
    font-weight: 500;
}

.toggle-button {
    font-size: large;
    border-radius: 25px;
    padding: 8px;
    background: #e9e9e9;
    border-color: var(--color-light-bg);
    border-radius: 100px;
    border: 0px solid #3a3a3a;
    margin-right: 13px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

.toggle-button:hover i {
    animation: tada 1.5s ease;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: var(--color-light-bg);
    box-shadow: 0 5px 1px var(--color-light-shadow);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: var(--color-light-primary);

}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: var(--color-light-gray);
}

.nav-link .link {
    font-size: 16px;
    color: var(--color-light-gray);
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: var(--color-light-bg);
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: var(--color-light-overlay);
    z-index: 3;
}

nav.open~.overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

/*Moon animation*/

@keyframes Moontada {
    from {
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg)
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg)
    }

    40%,
    60%,
    80% {
        transform: rotate3d(0, 0, 1, -10deg)
    }

    to {
        transform: scale3d(1, 1, 1)
    }
}

/*-----------------left------------------*/

.main .left {
    width: 24%;
    height: 89vh;
    overflow: hidden;
    overflow-y: hidden;
    position: fixed;
    left: 15px;
    background: var(--color-light-bg);
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
    margin-right: 16px;
    padding-right: 0 !important;
}

.main .left::-webkit-scrollbar {
    width: 7px;
}

.main .left::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--color-light-tirdh);

}

.main .left:hover::-webkit-scrollbar-thumb {
    background: #cccccc;
}

.left .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;


}

.left-wrapper {
    border-bottom: 0.5px solid #00000014;
    padding-bottom: 12px;
}

.main-pfp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-pfp img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin: 10px 10px 20px 10px;
    border: 4px solid #acacac6b;
}


.main-pfp p {
    font-size: 15px;
}

.extra-detail {
    display: flex;
    align-items: center;
    color: #00000069;
    margin-left: 3vh;

}

.mini-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mini-post div {
    width: 203px;
    height: 196px;
    transition: 2s;
    margin: 1px;
}

.mini-post div:hover {
    width: 220px;
    height: 220px;
    transition: 2s;
    margin: 5px;
}

.left-post-wrapper:hover .mini-post div:not(:hover) {
    width: 180px;
    height: 180px;
    transition: 2s;
}

.mini-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post,
.followers,
.following {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.following {
    margin-right: 25px;
}

.extra-detail .date,
.gender {
    padding: 5px;
}

.left-post-wrapper {
    margin-top: 23px;
}

/*-----------------main---------------*/
.main {
    display: flex;
    margin-top: 60px;
    background: var(--color-light-tirdh);

}

.main .center {
    width: 50%;
    height: auto;
    padding: 20px 20px 0 20px;
    background: var(--color-light-tirdh);

    margin-left: 25%;
}

.main .center::-webkit-scrollbar {
    width: 0;
}

/*-----------------my-post---------------*/
.main .center .my-post {
    width: 100%;
    height: auto;
    background: var(--color-light-bg);

    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    min-width: 439px;

}

.main .center .my-post img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.main .center .my-post .search-top {
    display: flex;
    align-items: center;
}

.main .center .my-post .search-top input {
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 17px;

}

.main .center .my-post .search-top input:hover {
    background: #e3e3e3;
    cursor: text;
}

.main .center .my-post hr {
    width: 100%;
    height: 1px;
    background: #cccccc;

    border: 0;
    margin: 10px 0;
}

.post-bottom {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

 .post-bottom .post-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 40px;
    cursor: pointer;
}

 .post-bottom .post-icon:hover {
    background: #efefef;
    border-radius: 8px;
}


/*-----------------friend-post---------------*/

.main .center .friend-post {
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: var(--color-light-bg);
    min-width: 439px;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.main .center .friend-post .friend-post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main .center .friend-post .friend-post-top .img-name {
    display: flex;
    align-items: center;
}

.main .center .friend-post .friend-post-top .img-name img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}

.main .center .friend-post .friend-post-top .img-name .friends-title .friends-name {
    font-weight: bold;
    cursor: pointer;
}

.main .center .friend-post .friend-post-top .img-name .friends-title .friends-name:hover {
    text-decoration: underline;
}

.main .center .friend-post img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.main .center .friend-post .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.main .center .friend-post .info .emoji-img {
    display: flex;
}

.main .center .friend-post .info .emoji-img img {
    width: 20px;
    height: 20px;
}

.main .center .friend-post .info .emoji-img p {
    margin-left: 5px;
    font-size: 16px;
    color: #919191;
}

.main .center .friend-post .info .comment {
    display: flex;
    align-items: center;
}

.main .center .friend-post .info .comment p {
    padding: 0 12px;
    font-size: 15px;
    color: #919191;
}

.main .center .friend-post hr {
    width: 100%;
    height: 1px;
    background: #cccccc;

    border: 0;
    margin: 10px 0;
}

.main .center .friend-post .like {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .center .friend-post .like .like-icon {
    display: flex;
    align-items: center;
}


/*-----------------friend-post---------------*/


.main .center .friend-post .comment-wrapper {
    display: flex;
    align-items: center;
}

.main .center .friend-post .comment-wrapper img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.main .center .friend-post .comment-wrapper .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid var(--color-light-bg);
    ;
    position: relative;
    top: 15px;
    right: 25px;
}

.main .center .friend-post .comment-wrapper .comment-search {
    width: 95%;
    padding: 5px 15px;
    background: #efefef;

    border-radius: 30px;
}

.main .center .friend-post .comment-wrapper .comment-search input {
    width: 85%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
}

.main .center .friend-post .comment-wrapper .comment-search i {
    padding: 0 5px;
    color: #919191;
}



/*-----------------right------------------*/

.main .right {
    width: 24%;
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;

    position: fixed;
    right: 0;
    background: var(--color-light-bg);

    padding: 10px 5px 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
    margin-right: 16px;
    min-width: 180px;
}

.main .right::-webkit-scrollbar {
    width: 7px;
}

.main .right::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--color-light-tirdh);

}

.main .right:hover::-webkit-scrollbar-thumb {
    background: #cccccc;
}


.main .right .right-warpper .contact-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .right .right-warpper .contact-title h2 {
    font-size: 18px;
    margin: 5px 0;
}

.main .right .right-warpper .contact:hover {
    background: #e3e3e3;
    border-radius: 25px;
}

.main .right .right-warpper .contact .contact-btn {
    border-style: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.main .right .right-warpper .contact img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 6px;

}

.main .right .right-warpper .contact p {
    font-size: 16px;
}

.main .right .right-warpper .contact i {
    margin-right: 10px;
    font-size: 21px;
}

.notification {
    border-radius: 50%;
    background: red;
    color: var(--color-light-bg);
    margin-right: 8px;
    min-width: 25px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-message {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #00000078;
    overflow-y: auto;
    margin: 0px 20px 0px 25px;
}

/* Alert */

#alert {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    opacity: 0;
    display: flex;
    transition: opacity 0.6s;
    text-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.2);
    color: white;
    opacity: 1 !important;
    z-index: 5;
    margin: 15px;
    border-radius: 29px;
    animation: slide-in-right 0.4s both;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* Dark mode */

body.dark-mode {
    background: var(--color-dark-secondary);

    nav {
        background-color: var(--color-dark-secondary);
    }

    hr {
        background: var(--color-dark-overlay) !important;
    }

    nav .logo .menu-icon,
    .logo .logo-name {
        color: var(--color-dark-gray);
    }

    nav .sidebar {
        background-color: var(--color-dark-bg);
    }

    .nav-link .icon,
    .nav-link .link {
        color: var(--color-dark-gray);
    }

    .lists .nav-link:hover {
        background-color: var(--color-dark-primary);
    }

    .overlay {
        background: var(--color-dark-overlay);
    }

    .main,
    .center {
        background-color: var(--color-dark-bg);
    }

    .main .center .my-post {
        background: var(--color-dark-secondary);
        color: var(--color-dark-gray);
    }

    .main .center .friend-post {
        background: var(--color-dark-secondary);
        color: var(--color-dark-gray);
    }

    .main .center .my-post .search-top input {
        background: var(--color-comment-background);
    }

    .main .center .my-post .search-top input:hover {
        background: var(--color-comment-background-hover);
    }


    .post-bottom .post-icon:hover {
        background: var(--color-dark-primary);
    }

    .main .center .friend-post .comment-wrapper .comment-search {
        background: var(--color-comment-background);
        color: var(--color-dark-gray);
    }
    .comment-search input{
        color: var(--color-dark-gray);
    }

    .main .center .friend-post .comment-wrapper .comment-search i {
        padding: 0 5px;
        background: var(--color-dark-overlay) !important;
    }

    .main .left {
        background: var(--color-dark-secondary);
        color: var(--color-dark-gray);
    }

    .left-wrapper {
        border-bottom: 0.5px solid var(--color-comment-background-hover);
    }

    .main .right {
        background: var(--color-dark-secondary);
        color: var(--color-dark-gray);
    }

    .extra-detail {
        color: var(--color-dark-gray);
    }

    .main .right::-webkit-scrollbar-thumb {
        background: var(--color-dark-gray);
    }

    .main .right:hover::-webkit-scrollbar-thumb {
        background: var(--color-dark-gray);
    }


    .main .right .right-warpper .contact:hover {
        background-color: var(--color-comment-background-hover);
    }

    .main .right .right-warpper .contact .contact-btn {
        color: var(--color-dark-gray);
    }
    .last-message{
        color: var(--color-dark-gray);
    }


}

/* styles for screens smaller than 1500px */
@media screen and (max-width: 1500px) {
    .mini-post div {
        width: 138px;
        height: 144px;
        transition: 2s;
        margin: 1px;
    }

    .post,
    .followers,
    .following {
        display: none;
    }

    .extra-detail {
        display: flex;
        align-items: center;
        color: #00000069;
        justify-content: center;
        margin: 0px;
    }
}

/* styles for screens smaller than 1000px */
@media screen and (max-width: 1000px) {
    .main {
        display: flex;
        margin-top: 60px;
        background: var(--color-light-tirdh);
        flex-direction: column;
        align-items: center;
        min-width: 450px;
    }

    .main .left {
        width: 94%;
        height: 89vh;
        overflow: hidden;
        overflow-y: hidden;

        position: static;
        background: var(--color-light-bg);
        border-radius: 7px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
        margin: 30px 30px 10px 30px;
        margin-right: 16px;
        padding-right: 0 !important;
    }

    .main .center {
        width: 96%;
        height: auto;
        padding: 0px;
        background: var(--color-light-tirdh);
        /* margin-left: 25%; */
        margin: 0px 30px 0px 30px;
    }

    .main .right {
        width: 96%;
        height: 89vh;
        overflow: hidden;
        overflow-y: scroll;
        position: static;
        right: 0;
        background: var(--color-light-bg);
        padding: 10px 5px 10px 15px;
        border-radius: 7px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
        margin: 0px 30px 0px 30px;
        min-width: 180px;
    }

    .mini-post div {
        width: 84vh;
        height: 24vh;
        transition: 2s;
        margin: 1px;
    }
}